<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attenda_attempt3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Attenda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attenda_Attempt3">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleAndNotificationHandlerActivity"
            android:exported="true" />
        <activity
            android:name=".DaysOneToFourHandlerActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AttendanceSubmittedActivity"
            android:exported="true" />
        <activity
            android:name=".QRScannerActivity"
            android:exported="true" />
        <activity
            android:name=".BtnToScannerActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeUserFeaturesActivity"
            android:exported="true" />
        <activity
            android:name=".StudentScheduleSelectActivity2"
            android:exported="true" />
        <activity
            android:name=".StudentScheduleSelectActivity"
            android:exported="true" />
        <activity android:name=".StudentInformationFormActivity" />
        <activity android:name=".LoginActivityKotlin" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".StatusRemoverMidnightService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>